<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shizy.fxmx.mapper.YwfxmxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shizy.fxmx.entity.YwfxmxPo">
        <result column="FXMXID" property="fxmxid"/>
        <result column="FXMXMC" property="fxmxmc"/>
        <result column="FSXTZD" property="fsxtzd"/>
        <result column="FXMXLJ" property="fxmxlj"/>
        <result column="YMLX" property="ymlx"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FXMXID, FXMXMC, FSXTZD, FXMXLJ, YMLX
    </sql>

    <!--<select id="selectPage" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"></include>-->
        <!--from LY_YY_CB_YWFXMX-->
    <!--</select>-->

</mapper>
